<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jj.mapper.BoardMapper">

<sql id="search">
	<if test="types != null">
	<foreach collection="types" item="item" open="AND(" close=")" separator="OR">
		<if test="item =='t'.toString()">
			title like concat('%',#{keyword},'%')
		</if>
		<if test="item =='c'.toString()">
			content like concat('%',#{keyword},'%')
		</if>
		<if test="item =='w'.toString()">
			writer like concat('%',#{keyword},'%')
		</if>
	</foreach>
	</if>
</sql>

<select id="getList" resultType="org.jj.domain.Board">
	select * from tbl_board
	where 1=1
	<include refid="search"></include>
	and del='N'
	order by bno desc
	limit #{skip},#{display}
</select>

<select id="get" resultType="org.jj.domain.Board">
	<![CDATA[
	select * from tbl_board where bno=#{bno}
	]]>
</select>

<insert id="insert">
	<![CDATA[
	insert into tbl_board(title,content,writer) values(#{title},#{content},#{writer}) 
	]]>
</insert>

<update id="delete">

 	update tbl_board set del='Y' where bno = #{bno}

</update>

<update id="modify">
	<![CDATA[
	update tbl_board set title = #{title}, content = #{content}, writer = 
	#{writer} where bno = #{bno}
 	]]>
</update>

<select id="count" resultType="int">
		select count(*)
		from tbl_board where 1=1
		<include refid="search"></include>
		and  del='N'
		 
</select>
</mapper>